body {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: italic;
}

h1 {
  color: gainsboro;
  font-size: 55px;
}
h2,
h3 {
  font-size: 20px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: gainsboro;
  list-style: none;
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
img {
  position: relative;
  top: -60px;
  width: 140px;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 10px auto;
}
.card {
  background-image: url("../images/tree.jpg");
  padding: 30px 30px;
  border: 300px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.weather-forecast-date {
  font-size: 25px;

  color: white;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 20px;
  color: white;
}
#current-location {
  background-color: rgb(47, 168, 248);
}
#temperature {
  font-size: 40px;
  color: gainsboro;
  text-decoration: none;
}
#units {
  color: gainsboro;
  font-size: 17px;
  position: relative;
  top: -17px;
}
#celsius {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#celsius:hover {
  text-decoration: underline;
}
